* {
   
}

body {
    background-color: rgb(139, 184, 133);
     background-image: url("img/img1.jpeg");
}

#board {
    width: 400px;
    height: 400px;
    border: 10px solid rgb(62, 107, 53);
    background-color: rgb(117, 131, 109);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}  

#board div {
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;

    /* text */
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board div:hover {
    
}

.container {
    background-image: url("img1.jpg");
}